<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social MS</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <h1>Hello</h1>

  <h2 class="section-title">User Data</h2>
  <% if (userData) { %>
  <div class="user-data">
    <p class="user-data-field">Name: <%= userData.name %></p>
    <p class="user-data-field">Email: <%= userData.email %></p>
    <p class="user-data-field">Birthday: <%= userData.birthday %></p>
    <p class="user-data-field">Gender: <%= userData.gender %></p>
    <% if (userData.hometown) { %>
    <p class="user-data-field">Hometown: <%= userData.hometown.name %></p>
    <% } %>
    <p class="user-data-field">
      Link:
      <a href="<%= userData.link %>" class="user-link" target="_blank" rel="noopener noreferrer"><%= userData.link %></a>
    </p>
    <% if (userData.age_range && userData.age_range.min && userData.age_range.max) { %>
    <p class="user-data-field">Age Range: <%= userData.age_range %> </p>
    <% } else { %>
    <p class="user-data-field">Age Range: Not specified</p>
    <% } %>
  </div>
  <% } else { %>
  <p>Loading user data...</p>
  <% } %>

<!-- <h3 class="section-title">Most Common Words in Feed</h3>
  <% if (mostCommonWords) { %>
    <ul class="common-words">
      <% mostCommonWords.forEach((word) => { %>
      <li>User has used <strong> <%= word.word %></strong> <%= word.count %> times</li>
      <% }) %>
    </ul>
    <% } %> -->
<!-- Create a canvas for the line chart -->
<canvas id="wordCountChart" style="width:100%; max-width:1200px; height:500px; font-size: 1.2rem;"></canvas>
<br> <br>
  <!-- <h3 class="section-title">Sentiment Analysis</h3>
  <% if (sentiment) { %>
  <p class="sentiment-score">Sentiment Score: <%= sentiment.score %></p>
  <p class="sentiment-description">
    Sentiment Description: <%= sentiment.score > 0 ? 'Positive' : sentiment.score < 0 ? 'Negative' : 'Neutral' %>
  </p>
  <% } else { %>
  <p class="no-sentiment">No sentiment analysis available.</p>
  <% } %> -->
  <canvas id="sentimentChart"></canvas>
  
</body>
<script>
  const mostCommonWordsData = <%- JSON.stringify(mostCommonWords) %>; 

new Chart("wordCountChart", {
  type: "line",
  data: {
    labels: mostCommonWordsData.map(item => item.word),
    datasets: [{
      label: 'Word Count',
      backgroundColor: "rgba(0,0,255,0.1)", // This is the fill color under the line
      borderColor: "rgba(0,0,255,1.0)", // This is the color of the line
      pointBackgroundColor: "rgba(255,0,0,1.0)", // This is the color of the points
      pointBorderColor: "rgba(255,0,0,1.0)", // This is the border color of the points
      data: mostCommonWordsData.map(item => item.count)
    }]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true,
          max: Math.max(...mostCommonWordsData.map(item => item.count)),
          fontSize: 17
        }
      }],
      xAxes: [{
        ticks: {
          fontSize: 17
        }
      }]
    },
    legend: {
      labels: {
        fontSize: 17
      }
    }
  }
});

const sentiment = <%- JSON.stringify(sentiment) %>;
const sentimentScore = sentiment.score;

const sentimentChartData = {
  labels: ['Positive Sentiment', 'Negative Sentiment'],
  datasets: [{
    data: [sentimentScore, 100 - sentimentScore],
    backgroundColor: ['rgba(255, 255, 0, 1.0)', 'rgba(255, 0, 0, 1.0)']
  }]
};

const sentimentChartOptions = {
  responsive: true,
  maintainAspectRatio: false
};

new Chart("sentimentChart", {
  type: "pie",
  data: sentimentChartData,
  options: sentimentChartOptions
});
</script>

</html>
