<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social MS</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <h1>Hello</h1>

  <h2 class="section-title">User Data</h2>
  <% if (userData) { %>
  <div class="user-data">
    <p class="user-data-field">Name: <%= userData.name %></p>
    <p class="user-data-field">Email: <%= userData.email %></p>
    <p class="user-data-field">Birthday: <%= userData.birthday %></p>
    <p class="user-data-field">Gender: <%= userData.gender %></p>
    <% if (userData.hometown) { %>
    <p class="user-data-field">Hometown: <%= userData.hometown.name %></p>
    <% } %>
    <p class="user-data-field">
      Link:
      <a href="<%= userData.link %>" class="user-link" target="_blank" rel="noopener noreferrer"><%= userData.link %></a>
    </p>
    <% if (userData.age_range && userData.age_range.min && userData.age_range.max) { %>
    <p class="user-data-field">Age Range: <%= userData.age_range %> </p>
    <% } else { %>
    <p class="user-data-field">Age Range: Not specified</p>
    <% } %>
  </div>
  <% } else { %>
  <p>Loading user data...</p>
  <% } %>


  <h3 class="section-title">Most Common Words in Feed</h3>
  <% if (mostCommonWords) { %>
  <ul class="common-words">
    <% mostCommonWords.forEach((word) => { %>
    <li><%= word %></li>
    <% }) %>
  </ul>
  <% } %>

  <h3 class="section-title">Sentiment Analysis</h3>
  <% if (sentiment) { %>
  <p class="sentiment-score">Sentiment Score: <%= sentiment.score %></p>
  <p class="sentiment-description">
    Sentiment Description: <%= sentiment.score > 0 ? 'Positive' : sentiment.score < 0 ? 'Negative' : 'Neutral' %>
  </p>
  <% } else { %>
  <p class="no-sentiment">No sentiment analysis available.</p>
  <% } %>

  <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
</body>
<script>
  const inputString = '<%=mostCommonWords%>';
  const splitValues = inputString.split(',');
  const resultArray = [];
  splitValues.forEach(value => {
    const existingObject = resultArray.find(item => item.word === value);
    if (existingObject) {
      existingObject.count++;
    } else {
      resultArray.push({
        word: value
        , count: 1
      });
    }
  });
  const labels = resultArray.map(item => item.word);
  const data = resultArray.map(item => item.count);
  new Chart("myChart", {
    type: "line"
    , data: {
      labels: labels
      , datasets: [{
        backgroundColor: "rgba(0,0,255,1.0)"
        , borderColor: "rgba(0,0,255,0.1)"
        , data: data
      }]
    }
    , options: {
      // Your chart options here
      legend: {
        display: false
      }
      , scales: {
        yAxes: [{
          ticks: {
            min: 1
            , max: 16
          }
        }]
      , }

    }
  });

</script>

</html>
